body{
    background-color: #333;
}
#titulo{
    background-color: black;
    color: goldenrod;
    font-family: Arial;
    height: 50px;
    border-style: dashed;
    border-color: goldenrod;
}
h1{
    margin-top: 10px;
}
#subtitulo{
    color: white;
    font-size: 18px
}
h2{
    color:goldenrod;
    font-family: Arial;
}

#opcoes{
    background-color: deepskyblue;
    border-color:white;
    margin-right:70px;
    margin-left:50px;
}
ol{
    color: white;
    font-family: Arial;
}
a{
    color: goldenrod;
       
}
#final{
    color: white;
}
span{
    color: darksalmon;
}