#titulo{
    background-color:olivedrab;
    font-family:fantasy;
    font-size:16px;
   height:80px;
   display: flex;
}
img{
    margin-top: 15px;
    margin-left: 10px;
}
#introducao{
    margin-left: 20px;
    
}
#post1{
    background-color: gainsboro;
    font-family:fantasy;
     height:180px;
    
}
#titu1{
    color: red;
    margin-left: 40px;   
    display: flex;
    margin-bottom: 10px;
}
#subt1{
    color: black;
    margin: 40px;   
}
#qpost{
    color: silver;
    margin: 40px;
}

#post2{
    background-color: gainsboro;
    font-family:fantasy;
     height:180px;
}     
#titu2{
    color: red;
    margin-left: 40px;   
    display: flex;
    margin-bottom: 10px;
}
#subt2{
    color: black;
    margin: 40px;   
}
#qpost2{
    color: silver;
    margin: 40px;
}
#rodapê{
    background-color:olivedrab;
     font-family:fantasy;
     height:80px;
}