#titulo{
    background-color:olivedrab;
    font-family:fantasy;
    font-size:16px;
   height:80px;
   display: flex;
}
img{
    margin-top: 15px;
    margin-left: 10px;
}
#introducao{
    margin-left: 20px;
    
}
#post1{
    background-color:olivedrab;
    font-family:fantasy;
     height:120px;
}



